body
{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Ubuntu;
    background-color: #000000;
}

/* ESTRUCTURA */
#main-container
{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../img/fondoStar.jpg);
}

#header-container
{
    display: flex;
    justify-content: space-between;
     margin: 2rem;/*20px */
}
#body-container
{
    height: 70vh;
    display: flex;
    justify-content: center;
}
#game-container
{
    /* height: 40vh;
    width: 75vh; */
    margin:auto;
    display: none;
}
#game-exploration {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(2, 1fr); /* Dos filas */
    gap: 10px; /* Espacio entre imágenes */
  }
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* IMAGENES */

/* Evitar selección de texto y arrastre en imágenes */
img {
    /* Evitar selección de texto */
    user-select: none;
    /* Evitar selección de imagen */
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-select: none;
    /*user-drag: none;_*/
  }
.imgGate{width: 50%;}

.imgGate:hover
{
    scale: 1.2; 
}
.imgDisable{
    opacity: 0.3;
    scale: 0.7;
}
.imgGate.imgDisable:hover {
    scale: 0.7;
}

/* #arma-interface > div.body-data > span{margin-left: ;} */

/* MODALES */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contenido {
    border: 2px solid #6a94a9 !important;
    border-radius: 10px;
    background-color: #2b292b;
    width: 60%;
    max-width: 400px;
    margin: 10% auto;
    /* border-radius: 2px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: #ffffff;
    position: relative;
}

.cerrar-modal {
    float: right;
    cursor: pointer;
    font-size: 24px;
    /* padding-top: 0.25rem;
    margin-right: 0.5rem; */
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

/* GRID GAME */

.grid {
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-template-rows: repeat(6, 100px);
    /* background-color: white; */
}

.cell {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 1px solid white;
}

.gate{
    width: 100px;
    height: 100px;
    /* background-image: url(../img/portales/gamma.png); */
    background-size: 100% 100%; /* Ajusta el tamaño al contenedor de 50x50px */
    background-repeat: no-repeat;
    border: 1px solid white;
}
.gate:hover{

    background-image: url(../img/portales/ganmaHover.png);
    background-size: 100% 100%; /* Ajusta el tamaño al contenedor de 50x50px */
    background-repeat: no-repeat;

}
.gate.ship
{
    background-image: url(../img/navePortal.png);
}

.ship {
    width: 100px;
    height: 100px;
    background-image: url(../img/venom-inferno.png);
    background-size: 100% 100%; /* Ajusta el tamaño al contenedor de 50x50px */
    background-repeat: no-repeat;
    border: 1px solid white;
}
.shipEnemy {
    width: 100px;
    height: 100px;
    background-image: url(../img/Lordakiaf.png);
    background-size: 100% 100%; /* Ajusta el tamaño al contenedor de 50x50px */
    background-repeat: no-repeat;
    border: 1px solid white;
}
.seleccionado
{
    background-color: #80f1808c;
}

.messageHover
{
    width: 200px;
    background: #000000 url(https://resources.blogblog.com/blogblog/data/1kt/awesomeinc/body_background_dark.png) repeat scroll top left;   
    color: #fff;
    border-radius: 10px;
    padding: 0.5rem;
    height: min-content;/*Borrar despues*/
    position: absolute;
    right: 200px;
    bottom: 150px;
    display: none;
}

.gate:hover .messageHover
{
    opacity: 1;
    display: block;
}

.chest{
    background-image: url(../img/cofreDorado.gif);
    background-position: center;
    background-repeat: no-repeat
}

.active{background-image: url(../img/portales/ganmaClick.png);}

/* PERSONALIZACION INPUTS */
progress{
    appearance: none;
    box-sizing: border-box;
    display: inline-block;
    block-size: 1em;
    inline-size: 10em;
    vertical-align: middle;
    height: 0.5rem;
    background-color: #16262f;
}
progress::-webkit-progress-value {
    background-color: #6a94a9;
  }



/* ESTILOS DE LA INTERFAZ */

/* .classDiv:hover{
    border: 2px solid transparent; 
    transition: border-color 0.3s ease;  
}   */
.classDiv{animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both}

.classDiv:hover
{
    border: 2px solid #6a94a9 !important;
    border-radius: 10px;
    background-color: #2b292b;
    color: #fff;
}
.classDiv:hover .head-data{
    color: #6a94a9;
    background-color: #16262f;
    border-bottom: 1px solid #6a94a9;
    opacity: 1;
    padding: 0.5rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px 10px 0 0;
}
/* PARA ACTICAR UN HOVER HIJO SE LE LLAMA AL PADRE Y AL HIJO*/

.head-data{
    /* display: none; */
    /* display: flex; */
    /* border-bottom: 1px solid rgb(22, 132, 235); */
    opacity: 0;
    background-color: #16262f;
    padding: 0.5rem;
    padding-left: 1rem;
    border-radius: 10px 10px 0 0;
}
.body-data
{
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.classHead{
    /* background-color: rgb(3, 51, 95);
    border-bottom: 1px solid rgb(22, 132, 235); */
    background-color: #16262f;
    border-bottom: 1px solid #6a94a9;
    border-radius: 10px 10px 0 0;
    display: flex;
    opacity: 1;
    padding: 0.5rem;
    padding-left: 1rem;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
.classBody
{
    /* border: 2px solid #287490;   */
    border: 2px solid #6a94a9;
    border-radius: 10px;
    background-color: #2b292b;
    color: #fff;
}
#meters
{
    display: none;
    position: absolute;
    top: 8rem;
    left: 2.625rem;
    /* border: 2px solid transparent; */
}
meter::-webkit-meter-bar {
    background-color: #1626; /* Color de fondo del medidor (barra vacía) */
    border:none;
  }
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    background-color: #6a94a9; /* Color de fondo para diferentes estados de progreso */
    }
#alien-interface
{
    position: absolute;
    top: 18rem;
    left: 2.625rem;
    /* border: 2px solid transparent; */
}
#level-interface
{
    position: absolute;
    top: 28rem;
    left: 2.625rem;
    /* border: 2px solid transparent; */
}
#interfaces{
    display: none;
    /* border: 2px solid; */

    position: absolute;
    right: 2.625rem;
}
#footer-container
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

/* DEFAULT */
.game-container {
    text-align: center;
}



input, select, button {
    margin: 10px;
    
}

button {
    cursor: pointer;
    border: 2px solid #6a94a9;
    color: #6a94a9;
    background-color: #16262f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;
}
button:hover{scale: 1.1;}
button:active{text-shadow: 0 0 10px #6a94a9;box-shadow: 0 0 10px #6a94a9;}
button:disabled {border: 2px solid #424242;background-color: #696969;color: #424242 ;}
#emergencyButton{
    margin: 5px  auto;
}
.button-panel
{
    display: flex;
}
.button-equals
{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas con igual tamaño */
    gap: 10px; /* Espacio entre los botones */
}
.buttonHexagonal{
    all: initial;
    display: inline-block;
    background-color: #fff;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    margin: 10px;
    height: 25px;
    /* width: 25px; */
    width: 30px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
.on{
    border: 2px solid #3b9c87; /* Verde */
    color: #3b9c87; /* Verde */
    background-color: #2a4f3d; /* Verde #17b996 */
}
.off{
    /* background-color: #ec1e1e;*/
    border: 2px solid #ff6a6a; /* Rojo */
    color: #ff6a6a; /* Rojo */
    background-color: #ec1e1e; /* Rojo  #ff2626 */
}
#motor-salto-interface > div.body-data > button{
    width: 10rem;
}
#medidores-container{
    position: absolute;
    top: 0;
    left: 0;
}

#timer
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
  }
  input[type="time"]{
    font-family: system-ui;
    font-weight: bold;
    /* background-color: black; */
    background-color: #16262f;
    border: 2px solid #eca91e;
    color: #eca91e;
    text-shadow: 0 0 10px #eca91e;
    box-shadow: 0 0 10px #eca91e;
    border-radius: 2px;
    padding: 12px;
  }
.timerRed{
    border: 2px solid #ec1e1e !important;
    color: #ec1e1e !important;
    text-shadow: 0 0 10px #ec1e1e !important;
    box-shadow: 0 0 10px #ec1e1e !important;
}
input[type="radio"]{display: none;}
input[type="range"]{display: none;}
#ammunition-meter{display: none;}
#engineDiv{display: none;}
#level-interface > div.body-data > p{margin: 0.5rem;}
/* ANIMACIONES */
.tilt-in-fwd-tr{animation:tilt-in-fwd-tr .6s cubic-bezier(.25,.46,.45,.94) both;overflow: hidden;}
@keyframes tilt-in-fwd-tr{0%{transform:rotateY(20deg) rotateX(35deg) translate(300px,-300px) skew(-35deg,10deg);opacity:0}100%{transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

.puff-in-center{animation:puff-in-center .7s cubic-bezier(.47,0.000,.745,.715) both}
@keyframes puff-in-center{0%{transform:scale(2);filter:blur(4px);opacity:0}100%{transform:scale(1);filter:blur(0);opacity:1}}
@-webkit-keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    to {
      opacity: 0;
    }
  }
  
  .zoomOut {
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
  }
  
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
  }

  .miAnimacion{
    animation: miAnimacion 2s forwards;
  }
  .cambioInterfaz{animation:cambioInterfaz 2s 2s forwards}
@keyframes miAnimacion {
    to{
        scale: 2;
    }
}
@keyframes cambioInterfaz {
    to{
        opacity: 0;
    }
}
@keyframes scale-in-center{0%{transform:scale(0);opacity:1}100%{transform:scale(1);opacity:1}}
.scroll-desactivado {
    overflow: hidden;
  }

.center-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    align-items: center;
}
/* Estilos para dispositivos móviles */
/* Puedes ajustar estos valores según las necesidades de tu diseño */
@media screen and (orientation: portrait) {
    body{
        background-color: #000000;
    }
    #main-container {
        display: none;
    }
    #mensajeOrientacion {
        display: flex;
        
    }
    .modal-contenido
    {
        margin: 50% auto;
    }
}
@media only screen and (max-width: 932px) and (orientation: landscape) {
    #header-container{
    display: flex;
    justify-content: space-between;
    margin: 0;}
    #main-container{background-size: contain;}
    .spanButton{display: none;}
    .imgGate{width: 40%;}
    button
    {
        display: block;
        margin: 0;
        padding: 0.2rem;
        border: 1px solid #6a94a9;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(6, 50px);
        /* background-color: white; */
    }
    
    .cell {
        width: 50px;
        height: 50px;
        background-color: transparent;
        border: 1px solid white;
    }
    
    .ship {
        width: 50px;
        height: 50px;
        background-image: url(../img/venom-inferno.png);
        background-size: 100% 100%; /* Ajusta el tamaño al contenedor de 50x50px */
        background-repeat: no-repeat;
        border: 1px solid white;
    }
    .shipEnemy {
        width: 50px;
        height: 50px;
        background-image: url(../img/Lordakiaf.png);
        background-size: 100% 100%; /* Ajusta el tamaño al contenedor de 50x50px */
        background-repeat: no-repeat;
        border: 1px solid white;
    }
    .body-data{padding: .3rem}
    #meters{
        top: 3rem;
        left: 1rem;
    }
    #alien-interface{
        /* top: 10.4rem; */
        top: 9rem;
        left: 1rem;
    }
    #level-interface{
        top: 15.3rem;
        left: 1rem;
    }
    .classDiv
    {
    border: 2px solid #6a94a9 !important;
    border-radius: 10px;
    background-color: #2b292b;
    color: #fff;
    font-size: 14px;
    }
    .head-data{
        font-size: 12px;
        color: #6a94a9;
        background-color: #16262f;
        border-bottom: 1px solid #6a94a9;
        opacity: 1;
        padding: 0.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        border-radius: 10px 10px 0 0;
        position: relative;
    }
    .cerrar-modal{
        /* position: absolute;
        right: 0.3rem; */
        font-size: 1.2rem;
        top: 0;
        color: white;
    }

    .button-panel{padding-left: 1rem;
        padding-right: 1rem;}
  }
  .inline
  {
    display: inline;
  }

  /* Estilos para dispositivos Tablet */
  @media only screen and (min-width: 933px) and (max-width: 1366px) {
    /* ESTRUCTURA */
    body {
      font-size: 16px;
    }

    #main-container{background-size: contain};

    #body-container{
        height: auto;
        margin: 2rem;
    }
    
    /* BOTONES */
    .button-panel{gap: 1rem;}
    
    button
    {
        display: block;
        margin: 0;
        padding: 1rem;
        border: 1px solid #6a94a9;;
    }

    div.body-data > button{
        margin: 1rem;
    }
    label{display: block;margin-bottom: 1rem;}
    #shield-interface > div.body-data > label{margin: 0;}
    #engine-cooling > label{margin: 0;}
    .buttonHexagonal{margin: 0 !important;}
    .spanButton{display: none;}
    /* .imgGate{width: 40%;} */

    .center-content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }
    #motor-salto-interface > div.body-data{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}