

#foto_perfil
{
    border-radius: 50%;
    border: red 1px solid;
    padding: 2px;
    float: left;
}
#foto_comentario
{
    border-radius: 50%;
    float: left;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 13px; /* Tamaño de fuente base */
      }
  }
  